/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    /* Add a stylish border to the page */
    border: 10px solid #2c1ac6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

header {
    background: #9d0505;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-content {
    flex-grow: 1;
    text-align: center;
    font-size: 18px; /* Increased font size */
}

.header-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px; /* Increased font size */
}

.header-content a img {
    width: 24px; /* Adjust icon size as needed */
    height: auto;
    margin-right: 10px; /* Adjust spacing between icons */
}

.footer a img {
    width: 24px; /* Adjust icon size as needed */
    height: auto;
}


main {
    padding: 20px;
    width: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 20px 0;
}

section {
    margin-bottom: 20px;
    /* Add a stylish border to the sections */
    border-left: 5px solid #4CAF50;
    padding-left: 10px;
}

h2 {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

p, li {
    margin: 5px 0;
}

a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Add a stylish border to the footer */
footer {
    border-top: 5px solid #4CAF50;
    padding-top: 10px;
}

/* Add LinkedIn and Blog icons to header */
.header-content a img {
    width: 24px; /* Adjust icon size as needed */
    height: auto;
    margin-right: 10px; /* Adjust spacing between icons */
}

/* Add LinkedIn and Blog icons to footer */
footer a img {
    width: 24px; /* Adjust icon size as needed */
    height: auto;
}
